<h1>Welcome to Mennonite Market!</h1>

<%= form_tag(root_path, method: :get) do %>
  <%= check_box_tag :sale, "true", params[:sale] == "true" %> On Sale
  <%= check_box_tag :new, "true", params[:new] == "true" %> New Arrivals
  <%= check_box_tag :updated, "true", params[:updated] == "true" %> Recently Updated
  <%= submit_tag "Filter" %>
<% end %>

<% if @products.any? %>
  <div class="product-list">
    <% @products.each do |product| %>
      <div class="product-item">
        <%= link_to product_path(product) do %>
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
          <p><%= number_to_currency(product.price) %></p>
          <%= image_tag url_for(product.image), size: "200x200" if product.image.attached? %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No products found.</p>
<% end %>

<!-- Pagination Links -->
<%= paginate @products %>
