<h1>Your Cart</h1>

<% if @cart_products.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_products.each do |item| %>
        <tr>
        <td><%= item[:product].name %></td>
        <td><%= number_to_currency(item[:product].price) %></td>
        
        <td>
        <%= form_with url: update_cart_path, method: :patch, local: true do %>
          <%= number_field_tag :quantity, item[:quantity], min: 1, class: "form-control form-control-sm", style: "width: 70px; display: inline-block;" %>
          <%= hidden_field_tag :product_id, item[:product].id %>
          <%= submit_tag "Update", class: "btn btn-sm btn-secondary ms-2" %>
        <% end %>
      </td>
          <td>
          <%= button_to 'Remove', remove_from_cart_path(product_id: item[:product].id), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <!-- Change this link to view_cart_path for now -->
  <%= link_to 'Proceed to Checkout', new_order_path, class: 'btn btn-success' %>
<% end %>

