<h1><%= @category.name %> Products</h1>

<% if @products.any? %>
  <div class="product-list">
    <% @products.each do |product| %>
      <div class="product-item">
        <%= link_to product_path(product) do %>
          <%= image_tag url_for(product.image), size: "200x200" if product.image.attached? %>
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
          <p><%= number_to_currency(product.price) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No products available in this category.</p>
<% end %>
